/* Author info: https://github.com/kparkitny */

body {
    margin: 0;
    padding: 0;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 5%;
    border: 2px solid #7cd1f9;
    border-radius: 5%;
    line-height: 1.3rem;
    cursor: pointer;
    padding: 0.6rem 4.3em;
}

input:focus, button:focus {
    outline: none;
}

h1 {
    background-color: #2778c4;
    color: white;
    padding: 0.6rem 2.8em;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

h2 {
    line-height: 0.2rem;
}

li {
    line-height: 1.8rem;
    font-weight: bold;
}

span, .task {
    color: #2778c4;
}

.task::marker {
    color:black;
}

button {
    align-self: center;
    background-color: #2778c4;
    color: white;
    padding: 0.3rem 1.6em;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

button:hover {
    background-color: #78cbf2;
}

